
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đây là trang chủ ADMIN</h2>


<ul>
    <li>@Html.ActionLink("QUẢN LÝ SÁCH", "Books", "Admin")</li>
    <li>@Html.ActionLink("THỐNG KÊ", "Chart", "Admin")</li>
</ul>




